<!DOCTYPE html>
<htmls>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <title>ViewMasterDB</title>
  </head>

  <div class="p-1 mb-1 bg-dark text-dark">
    <nav class="navbar navbar-dark bg-dark">       
      <div class="p-1 mb-1 bg-dark text-dark">
        <a class="navbar-brand" href="{{url_for('paginateviewMasterDB')}}"><h4> ViewMasterDB </h4></a>
        <a class="navbar-brand" href="{{url_for('ViewDashboard')}}"> <h4> Dashboard</h4></a>
        <a class="navbar-brand" href="{{url_for('overview')}}"> <h4> Overview</h4> </a>
        <a class="navbar-brand" href="{{url_for('HSEDataAnalysis')}}"><h4> Analysis </h4></a>
      </div>
      <div class="p-1 mb-1 bg-dark text-dark">
        <a class="navbar-brand" href="{{url_for('signup')}}"> <h4>Create Account </h4></a>
        <a class="navbar-brand" href="{{url_for('logout')}}"> <h4>Logout: {{ name }} </h4></a>
      </div>      
    </nav> 
  </div> 
  
<div class="jumbotron p-1">
  <div class="well text-center">
      <h2>Master HSE Inventory </h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
  </div>
  <div >
    <a class="navbar-brand" href="{{url_for('ViewDashboard')}}">Return To Dashboard</a>
    <h2>Inventory Summary </h2>
    <h3 style="display: inline-block;margin-bottom:15px;"> Total HSE Incidents : {{ Total_Incident }}</h3>
  
    <table id="ViewMasterDB" class="table table-striped table-bordered" style="width: 100%">
      <thead>
        <tr>
        <th>Action</th>
        <th>ID</th>
        <th>Date</th>
        <th>Project</th>
        <th>Project#</th>
        <th>Location</th>
        <th>Emergency</th>
        <th>Investigator</th>
        <th>Details</th>
        <th>Client</th>
        <th>Analysis</th>

        <th>UnsafeAct</th>
        <th>UnsafeCond</th>
        <th>EmployeeInvolved</th>
        <th>Classification</th>
        <th>Recordable</th>
        <th>WCBCase</th>
        <th>ModifiedDays</th>
        <th>BodyPart</th>
        <th>Equipment</th>
        <th>CACompleted</th>
        <th>SignOff</th>
      </tr>
      <thead>
        <tbody>
        {% for row in all_HSE_Inv %}
        <tr>
          <td>
            <a href="/masterDBupdate/{{row[0]}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row[0]}}">Modify</a>
            <a href="/masterDBdelete/{{row[0]}}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete{{row[0]}}">Delete</a>
        </td>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>

            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>
            
            <td>{{row[10]}}</td>
            <td>{{row[11]}}</td>
            <td>{{row[12]}}</td>
            <td>{{row[13]}}</td>
            <td>{{row[14]}}</td>

            <td>{{row[15]}}</td>
            <td>{{row[16]}}</td>
            <td>{{row[17]}}</td>
            <td>{{row[18]}}</td>
            <td>{{row[19]}}</td>
            <td>{{row[20]}}</td>
            <td>{{row[21]}}</td>                    
        </tr>
        
        <!-- Start of Modifying HSE Incident Row -->
        <div id="modaledit{{row[0]}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-header">
                <h4 class="modal-title">Update Incident Information</h4>
              </div>
            
              <div class="modal-body">
              <form action="{{url_for('masterDBupdate')}}" method="POST">

                <div class="form-group">
                  <label>Event Date:</label>
                  <input type="hidden"  name="id" value="{{row[0]}}">
                  <input type="text" class="form-control" name="EventDate" value="{{row[1]}}">
                </div>
                
                <div class="form-group">
                  <label>Project Name:</label>
                  <input type="text" class="form-control" name="ProjName" value="{{row[2]}}">
                </div>
                
                <div class="form-group">
                  <label>Project Number:</label>
                  <input type="text" class="form-control" name="ProjNum" value="{{row[3]}}">
                </div>

                <div class="form-group">
                  <label>Project Location:</label>
                  <input type="text" class="form-control" name="ProjLoc" value="{{row[4]}}">
                </div>
                
                <div class="form-group">
                  <label>Emergency Level:</label>
                  <input type="text" class="form-control" name="EmergencyLevel" value="{{row[5]}}">
                </div>
                
                <div class="form-group">
                  <label>HSE Advisor Investigator:</label>
                  <input type="text" class="form-control" name="HSEAdvisorInvestigator" value="{{row[6]}}">
                </div>
              
                <div class="form-group">
                  <label>HSE Incident Details:</label>
                  <input type="text" class="form-control" name="HSEIncidentDetails" value="{{row[7]}}">
                </div>
                
                <div class="form-group">
                  <label>Project Client:</label>
                  <input type="text" class="form-control" name="Client" value="{{row[8]}}">
                </div>

                <div class="form-group">
                  <label>CauseAnalysis:</label>
                  <input type="text" class="form-control" name="CauseAnalysis" value="{{row[9]}}">
                </div>
                
                <div class="form-group">
                  <label>UnsafeAct:</label>
                  <input type="text" class="form-control" name="UnsafeAct" value="{{row[10]}}">
                </div>
                
                <div class="form-group">
                  <label>UnsafeCond:</label>
                  <input type="text" class="form-control" name="UnsafeCond" value="{{row[11]}}">
                </div>

                <div class="form-group">
                  <label>EmployeeInvolved:</label>
                  <input type="text" class="form-control" name="EmployeeInvolved" value="{{row[12]}}">
                </div>

                <div class="form-group">
                  <label>Classification:</label>
                  <input type="text" class="form-control" name="Classification" value="{{row[13]}}">
                </div>
                
                <div class="form-group">
                  <label>RecordableFAMARWCLTI:</label>
                  <input type="text" class="form-control" name="RecordableFAMARWCLTI" value="{{row[14]}}">
                </div>

                <div class="form-group">
                  <label>WCBCase:</label>
                  <input type="text" class="form-control" name="WCBCase" value="{{row[15]}}">
                </div>
                
                <div class="form-group">
                  <label>ModifiedDays:</label>
                  <input type="text" class="form-control" name="ModifiedDays" value="{{row[16]}}">
                </div>
                
                <div class="form-group">
                  <label>BodyPart:</label>
                  <input type="text" class="form-control" name="BodyPart" value="{{row[17]}}">
                </div>

                <div class="form-group">
                  <label>EquipmentNumber:</label>
                  <input type="text" class="form-control" name="EquipmentNumber" value="{{row[18]}}">
                </div>
                
                <div class="form-group">
                  <label>CACompleted:</label>
                  <input type="text" class="form-control" name="CACompleted" value="{{row[19]}}">
                </div>
                
                <div class="form-group">
                  <label>SignOff:</label>
                  <input type="text" class="form-control" name="SignOff" value="{{row[20]}}">
                </div>

                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
                </div>
              
              </form>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <!-- End of Modifying HSE Incident Row -->

      <!-- Start of Deleting HSE Incident Row -->
      <div id="modaldelete{{row[0]}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
              <h4 class="modal-title">Delete Incident Information</h4>
            </div>
          
            <div class="modal-body">
            <form action="{{url_for('masterDBdelete')}}" method="POST">
              
              <div class="form-group">
                <label>HSE Incident ID To Delete:</label>
                <input type="number" class="form-control" name="id" value="{{row[0]}}">
              </div>


              <div class="form-group">
                <button class="btn btn-primary" type="submit">Delete</button>
              </div>
            
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

          </div>
        </div>
      </div>
      <!-- End of Deleting HSE Incident Row -->

      {% endfor %}
    </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>