<!DOCTYPE html>
<htmls>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>CountryEvent Breakdown</title>
  </head>
  <body>

    <div class="p-1 mb-1 bg-dark text-dark">
      <nav class="navbar navbar-dark bg-dark">       
        <div class="p-1 mb-1 bg-dark text-dark">
          <a class="navbar-brand" href="{{url_for('ViewDashboard')}}"> <h4> Dashboard</h4></a>
          <a class="navbar-brand" href="{{url_for('overview')}}"> <h4> Overview</h4> </a>
          <a class="navbar-brand" href="{{url_for('paginateviewMasterDB')}}"><h4> ViewMasterDB </h4></a>
          <a class="navbar-brand" href="{{url_for('HSEDataAnalysis')}}"><h4> Analysis </h4></a>
        </div>
        <div class="p-1 mb-1 bg-dark text-dark">
          <a class="navbar-brand" href="{{url_for('signup')}}"> <h4>Create Account </h4></a>
          <a class="navbar-brand" href="{{url_for('logout')}}"> <h4>Logout: {{ name }} </h4></a>
        </div>      
      </nav> 
    </div> 
  
<div class="jumbotron p-1">
  <div class="well text-center">
      <h2>Locational Incident Breakdown </h2>
      <h2 style="display: inline-block;margin-right:5px;"> Project Year: {{ CountryEventyear }}</h2>
      <h2 style="display: inline-block;margin-right:2px;"> Incidents: {{ TotalEntries }}</h2> 
  </div>
</div>

<main role="main" class="container-content">
  <div class="row">
    <div class="column" style="margin-left:80px;">   
          <div >
            <h2>Incident Break Down By Location: </h2>
            {% for table in ViewCountryReport %}
            {{ table|safe }}
            {% endfor %}
          </div> 
          <div><br></div>
          <div><br></div>
    </div> 

    <div class="column" style="margin-left:80px;">   
      <div>
        <div class="chart-container" style="margin-left:20px; "></div>
        <canvas id="Country_vs_incidents_pie" width="400" height ="400"></canvas>
      </div>
          <script>
            let Country_vs_incidents_chart_pie = new Chart(Country_vs_incidents_pie, {
                    type: 'pie',
                    data: {
                        labels: {{ChartJS_X_labels_Country|safe}} ,
                        datasets: [{
                            label: "No of HSE Incidents",
                            data:{{ChartJS_Y_values_Country|safe}},
                    backgroundColor: ["#DFFF00", "#40E0D0","#FF7F50","#DE3163","#c45850","blue", "green"], 
                    borderColor: "rgba(75,192,192,0.4)",
                    borderWidth: 3,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 3,
                    hoverBackgroundColor: "rgba(75,192,192,0.4)",
                    pointHoverRadius: 5
                }],
                    },
                options: {
                        responsive:false,
                        title: {
                            display: true,
                                text: "HSE Incidents Breakdown For Country",
                                    fontSize: 15,
                    },
                        legend: {
                            position: "bottom",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true,
                    },

                        elements: {
                            hitRadius: 3,
                    }
                    }
                })
            
          </script>  
    </div>



    <div class="column" style="margin-left:80px;">   
      <div >
        <h2>Recordable Incident Break Down By Location: </h2>
        {% for table in HSE_EmergencyLevelDF_Pivot %}
        {{ table|safe }}
        {% endfor %}
      </div> 
      <div><br></div>
      <div><br></div>
    </div> 


  </div>
</main> 



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  </body>
</html>